{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans %}Id {% endtrans %}</th>
                        <th>{% trans %}Name {% endtrans %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for interest in interests %}
                        <tr>
                            <td>
                                {{ interest.id }}
                            </td>
                            <td>
                                {{ interest.name }}
                            </td>
                            <td>
                                <a href="{{ path('interest_edit',{'id':interest.id}) }}" class="btn btn-default">
                                    {% trans %}Edit {% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('interest_create') }}" class="btn btn-primary">{% trans %} Create {% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}
