<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Symfony test</a>
                    </div>
                    <div id="navbar" class="navbar-collapse ">
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.user %}
                            <li><a href="{{ path('user_view') }}">Profile</a></li>
                            <li><a href="{{ path('interest_index') }}">Interests list</a></li>
                            <li><a href="{{ logout_path('main') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('auth_login') }}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block body %}

            {% endblock %}
        </div>
        <script src="{{ asset('js/jquery.min.js')}}"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
