{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row ">
            <div class="col-md-6 col-md-offset-3">

                <table class="table table-bordered table-responsive">
                    <tbody>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>First name</td>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td>
                            {% if user.birthday %}
                                {{ user.birthday.format('Y-m-d') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Interests</td>
                        <td>
                            <ul class="list-group">
                                {% for interest in user.interests %}
                                    <li class="list-group-item">{{ interest.name }}</li>
                                {% endfor %}
                            </ul>

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="{{ path('user_edit') }}" class="btn btn-primary">Edit</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
