{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="{{ path('auth_login') }}" method="post">
                    <h2 class="form-signin-heading">{% trans %}Please sign in{% endtrans %}</h2>
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">{% trans %}Email address{% endtrans %}</label>
                        <input type="email" name="_username" class="form-control"
                               placeholder="{% trans %}Email address{% endtrans %}" required="" autofocus=""
                               value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
                        <input type="password" name="_password" class="form-control"
                               placeholder="{% trans %}Password{% endtrans %}" required="">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">
                            {% trans %}Sign in{% endtrans %}
                        </button>
                    </div>
                </form>
                {% trans %}or{% endtrans %} <a href="{{ path('auth_signup') }}">{% trans %}signup{% endtrans %}</a>
            </div>
        </div>

    </div>

{% endblock %}
